:host {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 55px 1fr auto;
  align-items: start;

  header {
    box-sizing: border-box;
    padding: 10px 15px 15px;
    height: 55px;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

    img {
      margin-top: 5px;
      height: initial;
    }
  }

  .content {
    position: relative;
    height: 100%;
  }
}

.sub-header {
  background-color: #F5F8FD;
  height: 85px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
  }

  .btn-primary {
    width: 190px;
    height: 40px;
    border: none;
    background: #1593FC;
    border-radius: 5px;
    outline: none;
    margin-right: 40px;
  }

  .disabled {
    color: #D9D9D9;
    font-weight: 400;
    font-size: 14px;
  }
}
