<% function renderFormProps(keys,json) {%>
<% keys.forEach( function(prop){ %>
<div class="input-group">
  <label for="<%- prop %>"><%- prop %> </label>
  <input id="<%- prop %>" type="<%=json[prop]['type']%>" formControlName="<%- prop %>">
  <div *ngIf="form.get('<%=prop%>').invalid" class="input-error"><%=json[prop]['form']['error'] %></div>
</div>
<%})%>
<%}%>

<form [formGroup]="form" (ngSubmit)="submit()">
  <%-renderFormProps(Object.keys(json),json)%>
  <div class="form-buttons-area">
    <button type="submit" [disabled]="!form.valid">save</button>
    <button type="submit" [disabled]="!form.valid" *ngIf="canEdit">edit</button>
    <button type="submit" [disabled]="!form.valid">delete</button>
  </div>
</form>
