<div class="gradient-bg" style="position: -webkit-sticky;position: sticky;top: 00px;z-index: 1000;">

  <div class="col-12 d-flex justify-content-center align-items-center h-30">
    <button class="btn btn-regular">Card View</button>
    <button class="btn btn-regular">Row View</button>
  </div>

  <div class="col-12 d-flex gap-2 align-items-center h-30">
    <button class="btn btn-regular"><i class="fas fa-user-alt user"></i> Acknowledge</button>
    <button class="btn btn-regular"><i class="fas fa-check-square clear"></i> Clear</button>
    <button class="btn btn-regular"><i class="fas fa-trash-alt trash"></i> Clear & Remove</button>
  </div>

  <div class="col-12 d-flex align-items-center sub-header h-40">
    <div class="col-9 pl-0">
      <button class="btn btn-regular"><i class="fas fa-caret-right"></i> Show Filters</button>
      <button class="btn btn-regular align-items-center" disabled>
        <span style="display: flex;">
          <input type="checkbox" class="mr-1"/> Filters Active
        </span>
      </button>
      <button class="btn btn-regular">
        Last modified
        <i class="fas fa-caret-down"></i>
      </button>
      <span class="ml-1">
        <small> Sort by: </small>
        <button class="btn btn-regular">
          Last modified <i class="fas fa-caret-down"></i>
        </button>
      </span>
    </div>
    <div class="col-3 pr-0">
      <tw-searchbar></tw-searchbar>
    </div>
  </div>
</div>


<div class="col-12 bg-white h-100">
  <div class="row pt-4">
    <router-outlet></router-outlet>
  </div>
</div>
