@import "style/color-palette";
@import "style/ag-grid";
body{
  background-color: #F5F5F5;
}

.row {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
}

.container {
  display: grid;
  grid-row-gap: 20px;
}
