@import 'styles/color-palette';
@import "styles/btn";

body {
  margin: 0 !important;
  padding: 0;
  background-color: $shuttle-gray!important;
  display: grid;
  font-family: sans-serif;
}



/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

h3{
  font-size: 14px!important;
}

.sub-header{
  background-color: #E7E7EE;
}

.h{
  &-30{
    height: 30%;
  }
  &-40{
    height: 40%;
  }
  &-50{
    height: 50%;
  }
  &-60{
    height: 60%;
  }
}


.fas {
  &.fa-exclamation-triangle.major {
    color: #d1844e;
    transform: rotate(180deg);
  }

  &.fa-check-square.reachable {
    color: #7aa647;
  }

  &.fa-times-circle.critical {
    color: #a0413d;
  }

  &.fa-user-alt.user,
  &.fa-check-square.clear,
  &.fa-trash-alt.trash,
  &.fa-cog.settings {
    color: #3f535e;
  }

  &.fa-search.search {
    color: #b2b2b2;
  }

  &.fa-caret-down,
  &.fa-caret-right {
    color: #848484;
  }
}
.device-card-tags{
  span{
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    height: 20px;
    background-color: #D1E5F4;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    font-size: 0.7rem;
    border: 1px solid #243846;

  }
}
a{
  color: inherit!important;
}
