<tw-header>
  <div class="col-12 d-flex justify-content-center align-items-center h-30" twTopHeader>
    <button class="btn btn-regular"
            [ngClass]="{'active-view':(isTableViewActive$|async )}"
            (click)="switchToCardView()">Card View
    </button>
    <button regular-btn
            [ngClass]="{'active-view':!(isTableViewActive$|async )}"
            (click)="switchToTableView()">Row View
    </button>
  </div>

  <div class="col-12 d-flex gap-2 align-items-center h-30" twBottomHeader>
    <button regular-btn>
      <i class="fas fa-user-alt user"></i> Acknowledge
    </button>
    <button regular-btn>
      <i class="fas fa-check-square clear"></i> Clear
    </button>
    <button regular-btn>
      <i class="fas fa-trash-alt trash"></i> Clear & Remove
    </button>
  </div>

  <ng-container twSubHeader>
    <div class="col-9 pl-0">
      <button regular-btn><i class="fas fa-caret-right"></i> Show Filters</button>
      <button disabled regular-btn class="align-items-center">
        <span style="display: flex;">
          <input type="checkbox" class="mr-1"/>Filters Active
        </span>
      </button>
      <button regular-btn>
        Last modified
        <i class="fas fa-caret-down"></i>
      </button>
      <span class="ml-1">
        <small> Sort by: </small>
        <button regular-btn>
          Last modified <i class="fas fa-caret-down"></i>
        </button>
      </span>
    </div>
    <div class="col-3 pr-0">
      <tw-searchbar></tw-searchbar>
    </div>
  </ng-container>
</tw-header>

<div class="col-12 bg-white h-100">
  <div class="row pt-4">
    <router-outlet></router-outlet>
  </div>
</div>
