:host {
  top: 0;
  position: sticky;
  display: inherit;
  z-index: 99;

  .gradient-bg {
    height: 10vh;
    border-radius: 3px 3px;
    background-image: linear-gradient(to bottom, #a0bdcd, #a7c2d2, #a7c2d2, #8ba8b6, #9BBAC8);
  }


}

