/* SCSS RGB */
$shuttle-gray: #5d6771;
$athens-gray: #f0f0f2;
$cadet-blue: #9eb2c0;
$raven: #7c838f;
$jungle-mist: #bbccd8;
$domino: #907f62;
$tide: #b7b4af;
$bombay: #b4b4bc;
$bermuda-gray: #7392ac;


